= form_for @parent, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :middle_name, :class => 'control-label'
    .controls
      = f.text_field :middle_name, :class => 'text_field'
  .control-group
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'text_field'
  .control-group
    = f.label :phone, :class => 'control-label'
    .controls
      = f.text_field :phone, :class => 'text_field'
  .control-group
    = f.label :sex, :class => 'control-label'
    .controls
      = f.text_field :sex, :class => 'text_field'
  .control-group
    = f.label :dob, :class => 'control-label'
    .controls
      = f.text_field :dob, :class => 'text_field'
  .control-group
    = f.label :doc, :class => 'control-label'
    .controls
      = f.text_field :doc, :class => 'text_field'
  .control-group
    = f.label :doc_number, :class => 'control-label'
    .controls
      = f.text_field :doc_number, :class => 'text_field'
  .control-group
    = f.label :desc, :class => 'control-label'
    .controls
      = f.text_field :desc, :class => 'text_field'
  .control-group
    = f.label :family_id, :class => 'control-label'
    .controls
      = f.text_field :family_id, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), parents_path, :class => 'btn'
